body{
    width:960px;
    margin: 0 auto;
    margin-right: auto;
    margin-left : auto;
    
    transition: opacity 0.4s;
    font: sans-serif;

    
}

#2020 body{
    
    
    width:960px;
    margin: 0 auto;
    margin-right: auto;
    margin-left : auto;

    transition: opacity 0.4s;
    font: sans-serif;


}





.header{
    margin: auto;
    width: 90%;
    
    
}
.nav{
    text-align: right;

}


#line{
    z-index: 70;
    transition: 1.0s;
    


}




a{
    font-size: 14px;

    text-decoration: none;
    color: #45413F;    
    
}
.map{
    position: absolute;
    margin: 0 auto; 
    z-index: 15;
}

.botton{


    
    z-index: 20;

}

.botton img{
    width: 15px;
    height: 18px;
    
    transition: 0.5s;

    
    z-index: 20;
}


.botton img:hover{
    visibility: hidden;
    


    


}

    

.player{
    position: absolute;
    width: 390px;
    height: 150px;
    background-color: #FFF;
    top: 98px;
    left: 60px;
    font-size: 18px;
    z-index: 20;
    
    
}

.player img{
    padding: 20px;
    width: 100px;
    height: 100px;
    overflow: hidden;
    float: left;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    
}

.player div{
    float: left;
    width: 390px;
    height: 150px;
    
}

.player h2{
    font-size: 18px;  
}
.player p{
    font-size: 12px;
    float: bottom;
}


.hidden{
    position: absolute;
    top: 0;
    left: 0;
    width: 850px;
    height: 500px;
    

}



.fa-gry:before
{
    color: #484A52 ;
}

.player2020{
    position: absolute;
    width: 480px;
    height: 300px;
    background-color: rgba(255,255,255,0.8);
    top: 130px;
    left: 240px;
    right: 0;
    font-size: 18px;
    z-index: 30;

}

.player2020 div{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 180px;
    margin: 30px; 

}
.player2020 h1{
    font-size: 10pt;
    opacity: 0.8;

}
.player2020 h2{
    margin: 0  -50px 0 0;
    font-size: 20pt;
}
.player2020 h3{
    margin: 0  -50px 0 0;
    font-size: 12pt;
    opacity: 0.8;

}
.hidden-botton{
    text-align: right;
    padding: 0 10px 0px 0px;   

}
.player2020 p{
    padding: 0 10px 0px 0px;
    font-size: 12px;

}
.player2020 img{

    position: absolute;
    padding: 20px;
    width: 150px;
    height: 150px;
    top: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
    float: left;

}



/*紙吹雪*/

.kami {
    position: absolute;
    top: -50px;
    width: 10px;
    height: 10px;
    opacity: 1.0;
    -webkit-animation: fall 5s linear 0s 1 normal backwards;
    -moz-animation: fall 5s linear 0s 1 normal backwards;
    -ms-animation: fall 5s linear 0s 1 normal backwards;
    -o-animation: fall 5s linear 0s 1 normal backwards;
    animation: fall 5s linear 0s 1 normal backwards;
    
    z-index: 1;
}
/* Animations */
/*************************************************/
@-webkit-keyframes fall {
    from {
        -webkit-transform: translateX(0) translateY(0) skew(30deg);
    }
    12.5% {
        -webkit-transform: translateX(-50px) translateY(75px) skew(0deg);
    }
    37.5% {
        -webkit-transform: translateX(50px) translateY(225px) skew(-30deg);
    }
    50% {
        -webkit-transform: translateX(0) translateY(300px) skew(30deg);
    }
    62.5% {
        -webkit-transform: translateX(-50px) translateY(375px) skew(0deg);
    }
    87.5% {
        -webkit-transform: translateX(50px) translateY(525px) skew(-30deg);
    }
    to {
        -webkit-transform: translateX(0) translateY(600px) skew(30deg);
    }
}
@keyframes fall {
    from {
        transform: translateX(0) translateY(0) skew(30deg);
    }
    12.5% {
        transform: translateX(-50px) translateY(75px) skew(0deg);
    }
    37.5% {
        transform: translateX(50px) translateY(225px) skew(-30deg);
    }
    50% {
        transform: translateX(0) translateY(300px) skew(30deg);
    }
    62.5% {
        transform: translateX(-50px) translateY(375px) skew(0deg);
    }
    87.5% {
        transform: translateX(50px) translateY(525px) skew(-30deg);
    }
    to {
        transform: translateX(0) translateY(600px) skew(30deg);
    }
}

